@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
/*Pradinis*/
.signInLogo{
    width: 75px
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    border-color: #96D4D4;
    border: 2px solid #803e0b;
    font-family: 'Shippori Antique', sans-serif;
    color: #803e0b;
}

.highlight:hover{
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  background-color: #ebd4c3
}

.firstRow{
  background-color: #e09b66;
}

.Logo{
    width: 75px
}

.icon{
    background: url("https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-add-basic-ui-elements-flatart-icons-outline-flatarticons.png") no-repeat;
    float: left;
    width: 20px;
    height: 20px;
}

.register input{
    width: 250px;
    height: 35px;
    padding-left: 25px;
    display: block;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #803e0b;
    background-color: #ebd4c3;
    font-family: 'Shippori Antique', sans-serif;
}
.register button{
    width: 150px;
    height: 50px;
    transition-duration: 0.4s;
    border: 3px solid #803e0b;
    background-color: #ebd4c3;
    font-family: 'Shippori Antique', sans-serif;
    color: #803e0b;
}
.register button:hover {
  background-color: #803e0b; 
  color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #803e0b;;
  color: white;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  padding: 14px 16px;
  font-size: 17px;
  overflow: hidden;
}
.nav{
    background-color: #803e0b;
    overflow: hidden;
}
.nav a{
    float: left;
    color: #f2f2f2f2;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    margin-right: 5px;
    transition-duration: 0.4s;
    font-family: 'Bungee Inline', cursive;
}
.nav a:hover{
    background-color: #ebd4c3; 
    color: white;
}
/*Modal window------------------------------------------------------------------------------------------*/
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    color: #803e0b;
    border: 3px solid #803e0b;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #803e0b;
    background: transparent;
  }

  .modal-fade-enter-active, .modal-fade-leave-active {
    transition: opacity 0.5s ease;
  }
  
  .modal-fade-enter, .modal-fade-leave-to {
    opacity: 0;
  }
  /*Burger menu-----------------------------------------------------------------------------------------*/
  .topnav {
    overflow: hidden;
    background-color: #bd7239;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #burgerSlideOut {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Bungee Inline', cursive;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #803e0b;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 62%;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ebd4c3;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  /*Images*/
  img {
    max-width: 50%;
    max-height: 50%;
  }

  img2 {
    max-width: 100%;
    height: auto;
  }

  h1{
    font-family: 'Boogaloo', cursive;
    font-family: 'Bungee Inline', cursive;
    color: #803e0b;
  }

  h2{
    font-family: 'Bungee Inline', cursive;
    color: #803e0b;
  }

  p{
    font-family: 'Aldrich', sans-serif;
  }

  li{
    font-family: 'Shippori Antique', sans-serif;
  }

  /*Animation---------------------------------------------------------------------------------------------------------------------*/
  *
{
    -webkit-tap-highlight-color: transparent;
}

*:focus
{
    outline: none;
}

#webapp_cover
{
    position: relative;
    right: 0;
    left: 0;
    width: 39px;
    margin-left: 70%;
    transform: translateY(-50%) scale(2);
    padding-bottom: 20px;
}


#menu_button
{
    width: 39px;
    overflow: hidden;
}

#menu_checkbox
{
    display: none;
}

#menu_label
{
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
}

#menu_label:after
{
    top: 12px;
}

#menu_text_bar
{
    top: 24px;
}

#menu_text_bar:before
{
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
    left: -39px;
}

#menu_checkbox:checked + #menu_label:after
{
    left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}